/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../Functions/mixin"as mi;

/* ==========================================================================
Library
========================================================================== */
body {
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}